/* -----------------------navbar----------------------- */
.navbar { 
    background-color: #d6ccc2 !important;
}
.navsec { 
    display: flex; 
    justify-content: flex-end;
} 
.navbar-nav{ 
    display: flex;
    width: 50%;
    justify-content: space-evenly;
} 
a { 
    color: black;
} 
a:hover { 
color: white;
}

li {
    padding: 20px;
    margin: 10px;
}

li span {
    padding: 10px;
}


@media (max-width:700px) {
    .navbar-nav {
        width: 100%;
    }
}